class {{className}} < Formula
  desc "{{description}}"
  homepage "{{homePage}}"
  url "{{sourceDownload}}"
  sha256 "{{digestHex}}"
  license "{{license}}"
  version "{{versionName}}"

  depends_on "bun"
  depends_on "make"

  def install
    system "bun", "install"
    system "make", "build"
    bin.install "dist/envctl" => "envctl"
  end

  test do
    system "false"
  end
end
